<p>scientific works!</p>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scientific Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scientific</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="calculator">
    <!-- <input type="text" id="screen" maxlength="20"> -->

    <div class="maindisplay" id="inputscreen">
      <!-- <div class="subdisplay">{{ subText }}</div> -->
      {{ mainText }}
    </div>

    <div class="calc-buttons">

    <div class="functions-one">
      <button class="button triggers" (click)="allClear()">AC</button>
      <button class="button basic-stuff" (click)="pressKey('&#40;')">&#40;</button>
      <button class="button basic-stuff" (click)="pressKey('&#41;')">&#41;</button>
      <button class="button numbers" (click)="pressKey('7')">7</button>
      <button class="button numbers" (click)="pressKey('8')">8</button>
      <button class="button numbers" (click)="pressKey('9')">9</button>
      <button class="button numbers" (click)="pressKey('4')">4</button>
      <button class="button numbers" (click)="pressKey('5')">5</button>
      <button class="button numbers" (click)="pressKey('6')">6</button>
      <button class="button numbers" (click)="pressKey('1')">1</button>
      <button class="button numbers" (click)="pressKey('2')">2</button>
      <button class="button numbers" (click)="pressKey('3')">3</button>
      <button class="button numbers" (click)="pressKey('0')">0</button>
      <button class="button basic-stuff" (click)="pressKey('.')">.</button>
      <button class="button triggers" (click)="getAnswer()">=</button>
    </div>

    <div class="functions-two">
      <button class="button triggers" (click)="backspace()">&#60;=</button>
      <button class="button basic-stuff"(click)="pressKey('±')">±</button>
      <button class="button complex-stuff" (click)="pressKey('%')">%</button>
      <button class="button complex-stuff" (click)="pressKey('x!')">x!</button>
      <button class="button basic-stuff" (click)="pressKey('÷')">÷</button>
      <button class="button complex-stuff" (click)="pressKey('x^')">x^</button>
      <button class="button complex-stuff" (click)="pressKey('ln')">ln</button>
      <button class="button complex-stuff" (click)="pressKey('e')">e</button>
      <button class="button basic-stuff" (click)="pressKey('*')">*</button>
      <button class="button complex-stuff" (click)="pressKey('x²')">x²</button>
      <button class="button complex-stuff" (click)="pressKey('log')">log</button>
      <button class="button complex-stuff" (click)="pressKey('cos')">cos</button>
      <button class="button basic-stuff" (click)="pressKey('-')">-</button>
      <button class="button complex-stuff" (click)="pressKey('√')">√</button>
      <button class="button complex-stuff" (click)="pressKey('sin')">sin</button>
      <button class="button complex-stuff" (click)="pressKey('tan')">tan</button>
      <button class="button basic-stuff" (click)="pressKey('+')">+</button>
      <button class="button complex-stuff" (click)="pressKey('°')">∘</button>
      <button class="button complex-stuff" (click)="pressKey('rad')">rad</button>
      <button class="button complex-stuff" (click)="pressKey('π')">π</button>
    </div>
  </div>
</div>

</ion-content>


