<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Programmer Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<form id="calcform" name="calcform" autocomplete="off">

<h2>Converter</h2>

<label for="hex">Hexadecimal (16) </label>
<div class="input-group">
  <input type="text" id="hex" class="form-control" #hexa>
  <button type="button" class="btn btn-success btn-sm" (click)="fromHexa(hexa.value)">Converti</button>
</div>

<label for="dec">Decimal (10) </label>
<div class="input-group">
  <input type="text" id="dec" class="form-control" #dec>
  <button type="button" class="btn btn-success btn-sm" (click)="fromDec(dec.value)">Converti</button>
</div>

<label for="oct">Octal (8)</label>
<div class="input-group">
	<input type="text" id="oct" class="form-control" #oct>
	<button type="button" class="btn btn-success btn-sm" (click)="fromOct(oct.value)">Converti</button>
</div>

<label for="bin"> Binar (2)</label>
<div class="input-group">
	<input type="text" id="bin" class="form-control" #bin>
	<button type="button" class="btn btn-success btn-sm" (click)="fromBin(bin.value)">Converti</button>
</div>
<br>

<button type="reset" title="Reset" class="btn btn-secondary " onclick="reset()"> Reset</button>

</form>
